<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.css">
</head>

<body>
  <nav class="navbar bg-body-tertiary">
    <div class="container">
      <a href="/回到首頁"><button class="btn btn-primary" type="submit">回到首頁</button></a>
      <div>
        <a href="/about"><button class="btn btn-primary" type="submit">About</button></a>
        <a href="/portfolio"><button class="btn btn-primary" type="submit">Portfolio</button></a>
        <a href="/contact"><button class="btn btn-primary" type="submit">Contact</button></a>
      </div>
    </div>
  </nav>
  {{{body}}}
  <script src="/javascripts/popper.min.js"></script>
  <script src="/javascripts/bootstrap.js"></script>
</body>

</html>